!!! 5
html.no-js(ng-app='mobileApp')
  head
    title
        Vai Nascer App

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0')
    //- iPhone add to Home spec
    meta(name='apple-mobile-web-app-capable', content='yes')
    //- Android Chrome add to Home spec
    meta(name='mobile-web-app-capable', content='yes')


    {{> common_css}}


  body(ng-controller='AppCtrl', style="position: absolute; width: 100%;")

    {{> common_body}}

    {{> common_js}}

    {{body}}


