/*==========================================================*/
/* Images variables */
/*==========================================================*/

$path-to-bg = '../../assets/images/bg-pattern.png'
